<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LMNP</title>
</head>
<body>
<div>LMNP</div>
</body>
</html>






("loyers_hors_charges", "Loyers - Loyer hors charges locatives"),
("loyers_ct", "Loyers - Loyer court terme (AirBnb...)"),
("provision_charges", "Charges locatives - Provision pour charges"),
("regularisation_charges", "Charges locatives - Régularisation des charges"),
("forfait_charges", "Charges locatives - Forfait pour charges"),
("menage", "Charges locatives - Ménage"),
("recuperation_tom", "Charges locatives - Récupération de la TOM"),
("depot_garantie", "Autres recettes - Dépôt de garantie versé par le locataire"),
("retenue_depot_garantie", "Autres recettes - Retenue sur le dépôt de garantie"),
("assurance_loyer_impaye", "Autres recettes - Indemnité assurance loyer impayé"),
("assurance_sinistre", "Autres recettes - Indemnité assurance sinistre"),
("assurance_emprunteur", "Autres recettes - Indemnité assurance emprunteur"),
("remboursement_honoraire_notaire", "Autres recettes - Remboursement trop payé honoraire du notaire"),
("remboursement_fournisseur_energie", "Autres recettes - Remboursement trop payé fournisseur énergie"),
("fond_solidarite", "Autres recettes - Fond de solidarité COVID 19"),
("remboursement_fond_garantie (Crédit logement)", "Autres recettes - Remboursement Fond Mutuel de Garantie (Crédit logement)"),
("plus_values", Plus values - Cession de mobilier ou d'équipements comptabilisés en charges")

